* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;
	}

/*---Heading---*/

h2 { font-family: 'Tangerine', cursive;
	color:#000;
			text-align: center;
    		font-size:3.5em;
			padding-top:0em;
			padding-bottom:.5em;
			}

/*---Quote---*/

blockquote{font-size:1.75em;
			color:#C77255;
			line-height:1.35em;
			margin-left:6em;
            padding-left:1em;
			padding-right:7em;
            margin-top:.5em;
            margin-bottom:1em;
			font-family: 'Gentium Basic', serif;
            border-left:3px solid #999;
			}

cite{font-size:.9em;
	color:#000;
	padding-top:4em;
	padding-left:60%;
}

/*---Nav---*/

.nav a{font-family: 'Tangerine', cursive;
	padding:0em 1em;
	text-align:center;
	margin:10px;
	color:#000000;
	text-decoration:none;
	font-size:2em;
	font-weight:bold;}

nav {padding-top:0em;
	padding-bottom:0em;}

nav ul {text-align:center;}

nav ul li {display:inline;
	margin:10px;
	text-align:center;}

nav{position:fixed;
	top:0;
	left:0;
	margin:0;
	width:100%;
    background:#fff;
	z-index:2;
    border-bottom:#db8265 2px solid;}

.nav a:hover{text-decoration:none;
			color:#db8265;
			font-weight:bold;}

.link{color:#975950;
    text-decoration:none;}
		
/*---Images---*/

.bricks{width:30%;
        padding-bottom:4em;
        padding-top:4em;
        padding-left:35%;}

.bricks1{width:28%;
        padding-bottom:2.5em;
        padding-top:2.5em;
        padding-left:17%;}

.bricks2{width:12%;
        padding-bottom:3em;
        padding-top:3em;
        padding-left:21%;}

.bricks3{width:28%;
        padding-bottom:2.5em;
        padding-top:2.5em;
        padding-left:54%;}

.bkr{position:relative;
    max-width:60%;
    padding-left:18em;
    padding-bottom:4em;
    padding-top:7em;}

#sher{position:relative;
    float:right;
			max-width:15%;
			margin:15px;
            padding-right:4em;
			padding-left:1.25em;
			padding-bottom:1em;}

#watson{position:relative;
    float:left;
			max-width:15%;
			margin:15px;
			padding-left:4em;
			padding-right:1em;
			padding-bottom:1em;}

#mori{position:relative;
    float:right;
			max-width:12%;
			margin:15px;
            padding-right:4em;
			padding-left:1.25em;
			padding-bottom:1em;}

#adler{position:relative;
    float:left;
        max-width:10%;
			margin:15px;
			padding-left:4em;
			padding-right:1em;
			padding-bottom:1em;}

#door{position:relative;
    max-width:3.7%;
    padding-top:0em;
    margin-left:48.5%;
    bottom:7.38em;}

.door1{position:relative;
        max-width:100%;
        padding-top:2em;
        }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*---Text---*/

body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family: 'Slabo 27px', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:5em;
	padding-right:5em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1.2em;
	color:#000;
	font-family: 'Gentium Basic', serif;
	}

.newspaper{
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3; /* Firefox */
    column-count:3;
}

.newspaper{padding-bottom:.5em;
	padding-left:2em;
	padding-right:5em;
	padding-top:.5em;
	line-height:1.3em;
	font-size:1.2em;
	color:#000;
    text-align:justify;
	font-family: 'Gentium Basic', serif;
	}

.news{
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3; /* Firefox */
    column-count:3;
}

.news{padding-bottom:.5em;
	padding-left:5em;
	padding-right:2em;
	padding-top:.5em;
	line-height:1.3em;
	font-size:1.2em;
	color:#000;
    text-align:justify;
	font-family: 'Gentium Basic', serif;
	}

.foot{font-family: 'Gentium Basic', serif;
	font-size:.9em;
		padding-bottom:.5em;
		padding-left:10em;
		padding-top:1.5em;
        margin-top:-6em;
		padding-right:6em;
		color:#000;
		border-top:#db8265 2px solid;}

.love{font-family: 'Gentium Basic', serif;
	   font-size:.9em;
        text-align:center;
		padding-bottom:1.3em;
		padding-left:3em;
		padding-top:1em;
		padding-right:6em;
		color:#db8265;
		}

/*----MEDIA QUERIES-----*/

/*---TABLET---*/

@media (max-width:979px) {

h2 { font-family: 'Tangerine', cursive;
	color:#000;
			text-align: center;
    		font-size:3.5em;
			padding-top:.5em;
			padding-bottom:.5em;
			}
    
body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family: 'Slabo 27px', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:5em;
	padding-right:5em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1.2em;
	color:#000;
	font-family: 'Gentium Basic', serif;
	}

.newspaper{
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2; /* Firefox */
    column-count:2;
}

.newspaper{padding-bottom:.5em;
	padding-left:2.5em;
	padding-right:2.5em;
	padding-top:.5em;
	line-height:1.3em;
	font-size:1.2em;
	color:#000;
    text-align:justify;
	font-family: 'Gentium Basic', serif;
	}

.news{
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2; /* Firefox */
    column-count:2;
}

.news{padding-bottom:.5em;
	padding-left:2.5em;
	padding-right:2.5em;
	padding-top:.5em;
	line-height:1.3em;
	font-size:1.2em;
	color:#000;
    text-align:justify;
	font-family: 'Gentium Basic', serif;
	}

.foot{font-family: 'Gentium Basic', serif;
	font-size:.9em;
		padding-bottom:.5em;
		padding-left:10em;
		padding-top:1.5em;
		padding-right:6em;
		color:#000;
		border-top:#db8265 2px solid;}

.love{font-family: 'Gentium Basic', serif;
	   font-size:.9em;
        text-align:center;
		padding-bottom:1.3em;
		padding-left:3em;
		padding-top:1em;
		padding-right:6em;
		color:#db8265;
		}
    
blockquote{font-size:1.3em;
			color:#C77255;
			line-height:1.35em;
			padding-left:4.5em;
			padding-right:5.5em;
			font-family: 'Gentium Basic', serif;
			}

cite{font-size:.7em;
	color:#000;
	padding-top:2em;
	padding-left:20em;
}
    
.nav a{font-family: 'Gentium Basic', serif;
	padding:1em 1em;
	text-align:center;
	margin:5px;
	color:#000;
	text-decoration:none;
	font-size:1.1em;
	font-weight:bold;}

nav ul li {display:inline;
	margin:7px;
	text-align:center;}

    
.bkr{position:relative;
    max-width:60%;
    padding-left:9em;
    padding-bottom:1em;
    padding-top:6em;}

#sher{position:relative;
    float:right;
			max-width:20%;
            padding-right:18em;
			padding-left:13em;
			padding-bottom:1em;}    

#watson{position:relative;
    float:left;
			max-width:20%;
			padding-left:18em;
			padding-right:13em;
			padding-bottom:1em;}

#mori{position:relative;
    float:right;
			max-width:20%;
            padding-right:18em;
			padding-left:13em;
			padding-bottom:1em;}

#adler{position:relative;
    float:left;
        max-width:20%;
			padding-left:18em;
			padding-right:13em;
			padding-bottom:1em;}

#door{position:relative;
    max-width:3.7%;
    padding-top:0em;
    padding-left:48.5%;
    bottom:4.45em;}

.door1{position:relative;
        max-width:100%;
        padding-top:2em;}
    
.bricks1{width:30%;
        padding-bottom:4em;
        padding-top:4em;
        padding-left:16em;}

.bricks2{width:30%;
        padding-bottom:4em;
        padding-top:4em;
        padding-left:16em;}
}

	
/*---SMARTPHONE---*/

@media (max-width:414px) {

h2 { font-family: 'Tangerine', cursive;
	color:#000;
			text-align: center;
    		font-size:3em;
			padding-top:.5em;
			padding-bottom:.5em;
			}
    
body { max-width:100%;
			min-height:100%;
			font-size:.9em;
            font-family: 'Slabo 27px', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:2em;
	padding-right:1em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1.1em;
	color:#000;
	font-family: 'Gentium Basic', serif;
	}

.newspaper{
    -webkit-column-count:1; /* Chrome, Safari, Opera */
    -moz-column-count:1; /* Firefox */
    column-count:1;
}

.newspaper{padding-bottom:.5em;
	padding-left:2.5em;
	padding-right:2.5em;
	padding-top:.5em;
	line-height:1.3em;
	font-size:1.2em;
	color:#000;
    text-align:justify;
	font-family: 'Gentium Basic', serif;
	}

.news{
    -webkit-column-count:1; /* Chrome, Safari, Opera */
    -moz-column-count:1; /* Firefox */
    column-count:1;
}

.news{padding-bottom:.5em;
	padding-left:2.5em;
	padding-right:2.5em;
	padding-top:.5em;
	line-height:1.3em;
	font-size:1.2em;
	color:#000;
    text-align:justify;
	font-family: 'Gentium Basic', serif;
	}

.foot{font-family: 'Gentium Basic', serif;
	font-size:.7em;
		padding-bottom:.5em;
		padding-left:2em;
		padding-top:1.5em;
		padding-right:2em;
		color:#000;
		border-top:#db8265 2px solid;}

.love{font-family: 'Gentium Basic', serif;
	   font-size:.7em;
        text-align:center;
		padding-bottom:1.3em;
		padding-left:3em;
		padding-top:1em;
		padding-right:6em;
		color:#db8265;
		}
    
blockquote{font-size:1.4em;
			color:#C77255;
			line-height:1.35em;
			margin-left:3em;
            padding-left:1em;
			padding-right:3em;
            margin-top:.5em;
            margin-bottom:1em;
			font-family: 'Gentium Basic', serif;
            border-left:3px solid #999;
			}

cite{font-size:.5em;
	color:#000;
	padding-top:2em;
	padding-left:40%;
}    
    
.nav a{font-family: 'Gentium Basic', serif;
	padding:1em 0em;
	text-align:center;
	margin:1px;
	color:#000;
	text-decoration:none;
	font-size:1em;
	font-weight:bold;}

nav ul li {display:inline;
	margin:3px;
	text-align:center;}
    
.bkr{position:relative;
    max-width:60%;
    padding-left:6em;
    padding-bottom:1em;
    padding-top:6em;}

#sher{position:relative;
    float:right;
			max-width:20%;
            padding-right:8em;
			padding-left:15em;
			padding-bottom:1em;}    

#watson{position:relative;
    float:left;
			max-width:20%;
			padding-left:8em;
			padding-right:15em;
			padding-bottom:1em;}

#mori{position:relative;
    float:right;
			max-width:20%;
            padding-right:8em;
			padding-left:15em;
			padding-bottom:1em;}

#adler{position:relative;
    float:left;
        max-width:20%;
			padding-left:8em;
			padding-right:15em;
			padding-bottom:1em;}

#door{position:relative;
    max-width:3.7%;
    padding-top:0em;
    padding-left:48.5%;
    bottom:2.5em;}

.door1{position:relative;
        max-width:100%;
        padding-top:2em;}
    
.bricks1{width:30%;
        padding-bottom:4em;
        padding-top:4em;
        padding-left:8em;}

.bricks2{width:30%;
        padding-bottom:4em;
        padding-top:4em;
        padding-left:8em;}
    
    }

