* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;
	}

body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family: 'Slabo 27px', serif;
            margin:auto;
            line-height:1em;
		  	text-align:justify;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:5em;
	padding-right:5em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1.2em;
	color:#000;
	font-family: 'Gentium Basic', serif;
	}

 h1 {font-family: 'Tangerine', cursive;
	 font-weight:bold;
            color:#000;
			text-align: center;
            font-size:6em;
			padding-top:.5em;
			padding-bottom:0em;
			}

h2 { font-family: 'Tangerine', cursive;
	color:#000;
			text-align: center;
    		font-size:3.5em;
			padding-top:.5em;
			padding-bottom:.5em;
			}

blockquote{font-size:1.7em;
			color:firebrick;
			line-height:1.35em;
			padding-left:3.5em;
			padding-right:3.5em;
			font-family: 'Gentium Basic', serif;
			}

cite{font-size:1em;
	color:#000;
	padding-top:2em;
	padding-left:46em;
}

footer{font-family: 'Gentium Basic', serif;
	font-size:1em;
		padding-bottom:1em;
		padding-left:10em;
		padding-top:1em;
		padding-right:6em;
		color:#fff;
		background-color:firebrick;}

nav {font-size:1.5em;
	border-top: 1px solid firebrick;
	border-bottom: 1px solid firebrick;
	padding: 1.5em 0;
	}

nav ul {
	text-align: center;
	}

nav ul li {
	display: inline;
	margin: 10px;
	text-align: center;
	}

a:link{color: black;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
			line-height: 1.5em;
            padding: 1em -1em 1em -1em;
			}

a:hover {color:firebrick;}

